body{
  background-color: rgb(255, 193, 193);
}

/*movil vertical*/

@media screen and (max-width:640px) and (orientation:portrait) {
  body{
    background-color: rgb(164, 126, 245);
  }
}

/*movil apaisat*/

@media screen and (max-width:640px) and (orientation:landscape) {
  body{
    background-color: red;
  }
}

/*tablet*/

@media screen and (min-width:641px) and (max-width:1200px) {
  body{
    background-color: blue;
  }
}

/*PC*/

@media screen and (min-width:640px) {
  body{
    background-color: yellow;
  }
}
